/*

01----TIPOGRAPHY SYSTEM 

--FONT SIZE
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weight
 Default: 400
-Line hight:
 Default: 1

02----COLORS

- Primary: #5c940d
- Tints: #eff4e7
- Shades: 
- Greys: #555

05----SHADOWS
06----BORDER RADIUS
07----WHITESPACE 



--SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.section-hero {
  background-color: #eff4e7;
  padding: 9.6rem 0;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  gap: 9.6rem;
  align-items: center;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 250ms ease-in;
}
.btn--right:link,
.btn--right:visited {
  background-color: #5c940d;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}
.btn--right:hover,
.btn--right:active {
  background-color: #53850c;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
}
.btn--left:link,
.btn--left:visited {
  color: #5c940d;
}
.btn--left:hover,
.btn--left:active {
  color: #53850c;
}
.margin-right-sm {
  margin-right: 1.6rem;
}
.hero-img {
  width: 100%;
}
